* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw; /* Ocupa toda a largura da tela */
  height: 100vh; /* Ocupa toda a altura da tela */
  overflow: hidden; /* Impede o scroll */
  background-color: gray;
  padding: 0;

}

#root {
  width: 100%;
  height: 100%;
}

#reader {
  width: 100vw; /* Ocupa toda a largura da tela */
  height: 100vh; /* Ocupa toda a altura da tela */
  position: absolute; /* A posição foi alterada para absolute */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}